* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*** navbar *****/  


.dark {
    background-color: black;
    color: rgb(255, 255, 255);
}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


.navbar-brand  {
	font-weight: 600;
	font-size: 30px;
} 


.navbar-collapse ul li a {
    color: rgba(255, 255, 255, 0.868);
    font-size: 18px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.navbar-collapse ul li a:hover {
    color: #FF7900;
}

.collapse ul {
	margin-left: 220px;
}
.collapse ul li {
	padding-inline: 12px;
}

.active {
	color: #FF7900 !important;
    background-color: transparent !important;
}


.logo b {
	color: #FB6E00;
    font-size: 26px;
}

nav form button {
	padding: 10px 22px;
	background-color: #FB6E00;
	border: 0;
	color: white;
	font-weight: 500;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
nav form button:hover {
	background-color: #ff4000;
}



/***** End  navbar *****/




/***** Main-section *****/ 

main {
    background-color: black;
    color: rgba(187, 185, 185, 0.868);
}

main h1{
    padding-block: 15px;
    font-size: 50px;
    color: #FF7900;
}
main h4 {
    padding-block: 10px;
    padding-bottom: 30px;
}
main h3 {
    padding-block: 5px;
}

.main-btn {
    background-color: transparent;
    border: 4px solid rgb(33, 33, 33);
    margin-left: 20px;
}
.main-btn:hover {
    background-color: #ff4000;
    border: 0;
}

main button {
    width: 210px;
    height: 55px;
    padding: 0px 22px;
	background-color: #FB6E00;
	border: 0;
	color: white;
	font-weight: 500;
    font-size: 20px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
main button:hover {
    background-color: #ff4000;
}



.main-text {
    padding-top: 100px;
}

.boxex .box, .box3 {
    width: 170px;
    height: 120px;
    background-color: rgb(13, 13, 13);
    padding: 22px 19px;
    margin-top: 46px;    
}
.boxex .box h6, .box3 h6 {
    color: white;
    font-weight: 400;
    padding-block: 9px;
    position: relative;
    font-size: 18px;
}
.boxex b {
	color: #FB6E00;
    font-size: 22px;
}
.boxex .box h6::before {
    content: "";
    height: 75px;
    width: 1px;
    background-color: rgb(92, 92, 92);
    position: absolute;
    top: -30px;
    left: 130px;
}

main img {
    width: 95%;
    height: 95%;
    padding-top: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/***** End Main-section *****/









/***** About-Section *****/ 

.about {
    background-color: black;
    color: white;
    /* margin-top: -150px; */
}
.about h1 {
    padding-block: 12px;
}

.about .ab-text1 {
    padding-top: 50px;
}

.about img {
    width: 70%;
    height: auto;
    border-radius: 30% 30% 0px 0px;
    -webkit-border-radius: 30% 30% 0px 0px;
    -moz-border-radius: 30% 30% 0px 0px;
    -ms-border-radius: 30% 30% 0px 0px;
    -o-border-radius: 30% 30% 0px 0px;
}

.about .ab-text2 p {
    line-height: 35px;
    color: rgba(187, 185, 185, 0.868);
    padding-block: 35px;
    text-align: justify;
}


.about .ab-text2 button {
    width: 210px;
    height: 55px;
    padding: 0px 22px;
	background-color: #FB6E00;
	border: 0;
	color: white;
	font-weight: 500;
    font-size: 20px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.about .ab-text2 button:hover {
    background-color: #ff4000;
}

.about img {
    width: 60%;
}

/***** End About-Section *****/









/***** Section-skill *****/ 

.service {
    background-color: black;
    color: white;
}

.service .se-text1 {
    text-align: center;
    padding-top: 100px;
}
.service .se-text1 h1 {
    padding-bottom: 12px;
}


.cards .card {
    background-color: rgb(13, 13, 13);
    color: white;
    padding: 0px 30px;
    width: 500px;
    text-align: center;
    margin-top: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.cards .card p {
    color: rgba(187, 185, 185, 0.868);
    text-align: justify;
    text-align: center;
    padding-block: 5px;
}

.card b {
	color: #FB6E00;
    font-size: 18px;
    /* padding-bottom: 20px; */
}
.card h2, .card i {
    font-size: 50px;
    color: #FB6E00;
    padding-block: 10px;
}
.card i {
    padding-top: 20px;
}
.card h2 {
    font-size: 35px;
}




/***** End skill-services *****/







/***** services *****/ 

.services {
    background-color: black ;
    color: white;
}

.ser-text {
    padding-block: 130px;
}

.boxes img {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.boxes img:hover {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* box-shadow: 10px 10px 5px 0px rgba(41, 39, 39, 0.75); */
    scale: 1.1;
}

.boxes p {
    padding-top: 10px;
    border-bottom: 2px solid #FB6E00;
}

.boxes a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.boxes i {
    margin-left: 10px;
    color: #FB6E00;
    padding-block: 10px;
}

.sr-text p {
    padding-block: 12px;
}


/***** End services *****/


.main-p {
    color: rgba(187, 185, 185, 0.868);
}








/***** contact-Section *****/ 

.contact {
    background-color: black;
    color: white;
    padding-bottom: 90px;
}

.con-text {
    text-align: center;
    padding-top: 60px;
}

.con-text h1 {
    padding-block: 12px;
}

.contact-input input::placeholder {
    color: rgb(143, 141, 141);
}

.contact-input {
    text-align: center;
}

.contact-input input {
    background-color: rgba(31, 30, 30, 0.775);
    border: 0;
    width: 95%;
    padding: 15px 18px;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: 25px;
}

.contact-input2 input {
    background-color: rgba(31, 30, 30, 0.775);
    border: 0;
    width: 95%;
    padding: 15px 18px;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: 25px;
}

.contact-input2 textarea {
    background-color: rgba(31, 30, 30, 0.775);
    border: 0;
    width: 95%;
    padding: 12px 18px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    height: 140px;
    margin-top: 25px;
    color: white;
}

.contact-input2 {
    text-align: center;
}

.contact-input2 button {
    padding: 9px;
    width: 18%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: rgba(31, 30, 30, 0.775);
    border: 1px solid rgb(143, 141, 141);
    color: rgb(143, 141, 141);
    margin-top: 15px;
    margin-left: 78%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.contact-input2 button:hover {
    background-color: transparent;
}

.contact input:focus, .contact textarea:focus {
    color: #FB6E00;
    outline: 0.5px solid #FB6E00;
}




/***** End contact-Section *****/














/***** footer-Section *****/ 

.footer {
    background-color: rgb(13, 13, 13);
    color: white;
}

.footer .fo-text {
    padding: 40px;
    text-align: center;
}

.fo-text h1 {
    color: #ff4000;
    font-weight: 700;
    font-size: 35px;
}

.footer .last-a {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}
.last-a a {
    text-decoration: none;
    color: rgb(143, 141, 141);
    font-size: 19px;
}

.footer .last-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}

.footer .last-icons i {
    color: rgb(167, 165, 165);
    border: 1px solid rgb(167, 165, 165);
    padding: 8px 9px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.footer .last-icons i:hover {
    background-color: #ff4000;
    color: aliceblue;
    border: 1px solid ;
}

.footer .last-num {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(167, 165, 165);
}
.footer .last-num span {
    color: rgb(167, 165, 165);
    font-size: 19px;
    word-spacing: 8px;
}
.footer .last-num a {
    text-decoration: none;
}


.footer .last-p {
    text-align: center;
    color: rgb(167, 165, 165);
    padding-block: 15px;
}


/***** End footer-Section *****/

/* .btnfull {
    background-color: red !important;
    color: white !important;
} */
